/*************************************************
    GENERAL STYLES
 *************************************************/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/************************************************
    UTILITIES
 ************************************************/

 .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/* todo: inserire qui row,col,text */

/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}


/************************************************
    SITE SECTIONS
 ************************************************/
