/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9dbd4;
}

i {
    color: gray;
}

/************************************************
    UTILITIES
 ************************************************/

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/* todo: inserire qui row,col,text */

/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}


/************************************************
    SITE SECTIONS
 ************************************************/


.bolzapp {
    display: flex;
    margin-top: 50px;
    height: 600px;
}

/* CONTATTI */
.contacts {
    width: 40%;
}

.topContacts {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 5px;
    background-color: #eaeaea;
}

.image {
    display: flex;
    align-items: center;
    height: 100%;
}

.image img {
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}

.icons {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.icons i {
    margin: 0 7px;
    cursor: pointer;
}

.notifications {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    background-color: #8edafc;
}

.notiIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
}

.notiIcon i {
    color: #8edafc;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 5px;
    position: relative;
    background-color: #eaeaea;
}

.searchBar input {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    border-radius: 5px;
    border: white;
}

.searchBar i {
    position: absolute;
    top: 12px;
    left: 20px;
}

.listContacts {
    height: calc(100% - 150px);
    overflow-y: scroll;
    background-color: white;
}

.contact {
    display: flex;
    justify-content: space-around;
    height: 60px;
    padding: 5px;
    cursor: pointer;
}

.contact:hover {
    background-color: #e9ebeb;
}

.contact img {
    height: 100%;
    border-radius: 50%;
}

.infoContact {
    margin-left: 15px;
    width: 50%;
}

.infoContact p:first-child {
    font-weight: 600;
}

.infoContact p:last-child {
    font-size: 12px;
    color: gray;
}

.TimeMsgReceived {
    width: 20%;
    text-align: end;
    color: gray;
}

/* MESSAGGI */
.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.messages.hide {
    display: none;
}

.message {
    overflow-y: scroll;
    height: calc(100% - 100px);
    background-image: url("../img/mine.jpg");
    background-position: center;
    background-size: 70%;
    padding-top: 30px;
    padding-left:45px;
    padding-right:45px;
}

.message.clearfix {
    content: "";
    clear: both;
    display: table;
  }

.msg {
    width: 50%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 3px;
    margin: 10px;
    border-radius: 5px;
    min-width: 200px;
}

.msg.send {
    background-color: #d5f9ba;
    float: right;
}

.msg.received {
    background-color: white;
    float: left;
}

.msg p:last-child {
font-size: 8px;
text-align: end;
color: gray;
}

.topMessages{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 5px;
    border-left: 1px solid lightgray;
    background-color: #eaeaea;
}

.topMessages p:first-child {
    font-weight: 600;
}

.topMessages p:last-child {
    font-size: 12px;
    color: gray;
}

.writeMessages {
    display: flex;
    height: 50px;
    padding: 5px;
    background-color: #eaeaea;
}

.writeMessages .icon, .writeMessages .microphone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    cursor: pointer;
}

.writeMessages .textBar {
    display: flex;
    align-items: center;
    width: 80%;
}

.writeMessages .textBar input{
    width: 100%;
    height: 90%;
    border: white;
    border-radius: 5px;
    padding-left: 10px;
}
